.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
}

$align: (flex-start, flex-end, center, stretch, baseline);
@each $e in $align {
  .align-#{$e} {
    align-items: $e;
  }
}

$just: (
  flex-start,
  flex-end,
  center,
  space-between,
  space-around,
  space-evenly
);
@each $e in $just {
  .justify-#{$e} {
    justify-content: $e;
  }
}

.tall {
  height: 100%;
}

.wide {
  width: 100%;
}
