$colors: (#4a00e0, #8e2de2), (#67b26f, #4ca2cd), (#de6161, #2657eb),
  (#ee0979, #ff6a00), (#ff00cc, #333399);

@each $pair in $colors {
  $i: index($colors, $pair);
  .grad-#{$i} {
    background: nth($pair, 1);
    background: -webkit-linear-gradient(to right, nth($pair, 1), nth($pair, 2));
    background: linear-gradient(to right, nth($pair, 1), nth($pair, 2));
  }
}
