@import 'type';
@import 'flex';
@import 'colors';
@import 'grad';

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Oxygen', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  background-color: $bg;
  overflow-x: hidden;
}

::selection {
  background: $primary;
  color: $white;
}

nav {
  @extend .grad-1;
  color: $white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 60px;
  z-index: 1000;
  .name {
    margin-left: 2rem;
    font-size: 1.3rem;
    .first {
      font-weight: $thin;
    }
    .last {
      font-weight: $thicc;
    }
  }
  .icons {
    a {
      text-decoration: none;
      color: $white;
      transition: color 300ms;
      &:hover {
        color: $primary;
      }
    }
    margin-right: 2rem;
    svg {
      font-size: 1.5rem;
      margin: 0.8rem;
    }
  }
}

.hero {
  @extend .grad-1;
  color: $white;
  display: flex;
  height: 500px;
  position: absolute;
  width: calc(100vw);
  z-index: -1;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: 100px;
  grid-gap: 1rem;
  max-width: 1500px;
  padding: 140px 1rem;
  margin: 0 auto;
}

.card {
  background-color: $white;
  border-radius: 6px;
  color: $dark;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
}

.intro {
  grid-column: 2/6;
  grid-row: span 4;
  text-align: justify;
  color: $white;
  .bio {
    font-size: 1.3rem;
    font-weight: $thin;
    a {
      color: $white;
      text-decoration: none;
      border-bottom: 2px solid $primary;
      font-weight: $regular;
      &:hover {
        border-width: 3px;
      }
    }
    @media (max-width: 615px) {
      font-size: 1.1rem;
    }
  }
  @media (max-width: 1000px) {
    grid-column: 1/6;
  }
  @media (max-width: 615px) {
    grid-column: span 12;
    grid-row: span 2;
  }
}

.terminal {
  border-radius: 4px;
  color: $white;
  background-color: rgb(41, 42, 62);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  grid-column: 7/12;
  grid-row: span 4;
  position: relative;
  padding-top: 2rem;
  width: 100%;
  .text-container {
    height: calc(100% - 2rem);
    padding: 1rem;
    overflow-y: auto;
  }
  .whoami {
    word-break: normal;
    white-space: normal;
    .pad {
      padding-top: 0.3rem;
    }
  }
  .dot {
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    top: 8px;
    &:hover {
      filter: brightness(1.5);
    }
  }
  .dot-1 {
    @extend .dot;
    left: 10px;
    background-color: #e74c3c;
  }
  .dot-2 {
    @extend .dot;
    left: 32px;
    background-color: #f1c40f;
  }
  .dot-3 {
    @extend .dot;
    left: 54px;
    background-color: #2ecc71;
  }
  .err {
    color: #e74c3c;
  }
  .prompt {
    color: $primary;
    font-weight: $regular;
    width: 10rem;
    white-space: pre;
    padding-right: 0.5rem;
  }
  .cat {
    width: 50%;
    height: auto;
    img {
      width: 100%;
      height: 100%;
    }
  }
  input {
    @extend .t-mono;
    color: $white;
    background: none;
    border: none;
    margin-bottom: 1rem;
    caret-color: $primary;
    width: calc(100% - 10rem);
    outline: none;
  }
  pre {
    white-space: pre-line;
    word-wrap: break-word;
    text-align: justify;
    word-break: break-all;
  }
  @media (max-width: 1000px) {
    grid-column: 6/13;
  }
  @media (max-width: 615px) {
    grid-row: span 4;
    grid-column: span 12;
  }
}

.section-head {
  margin: 1rem;
  grid-row: 6/9;
  grid-column: span 12;
  color: $purp;
  .title {
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 36px;
    font-weight: $thicc;
    text-align: center;
  }
  .body {
    color: #525f7f;
    text-align: center;
    max-width: 550px;
    position: relative;
    a {
      color: inherit;
      text-decoration: underline;
      transition: color 300ms;
      &:hover {
        color: $purp;
      }
    }
  }
  .sep {
    position: absolute;
    bottom: -2rem;
    left: calc(50% - 40px);
    width: 80px;
    height: 5px;
    background-color: $purp;
  }

  @media (max-width: 615px) {
    grid-row: 8/12;
  }
}

.project-wrapper {
  margin-bottom: 2.5rem;
  grid-row: span 4;
  grid-column: 4/10;
  position: relative;
  @media (max-width: 1000px) {
    grid-column: 2/12;
  }
  @media (max-width: 615px) {
    grid-row: span 4;
    grid-column: span 12;
  }
  .project-tech {
    width: 100%;
    height: 5rem;
    right: 0;
    top: 10px;
    background-color: rgba($grey, 0.2);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    overflow: auto;
    white-space: nowrap;
    .bubble {
      display: inline-block;
      margin: 10px;
      width: 60px;
      height: 60px;
      border-radius: 200px;
      background-color: white;
      .img-container {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        svg {
          width: 50px;
          height: 50px;
        }
      }
    }
  }
  .project-card {
    width: 100%;
    height: calc(100% - 5rem);
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    .title {
      display: flex;
      align-items: center;
      padding: 1rem;
      padding-left: 1.5rem;
      font-size: 22px;
      font-weight: $thicc;
      color: $grey;
      .badge {
        color: white;
        font-size: 13px;
        padding: 0.5rem 1rem;
        border-radius: 500px;
        background-color: #2ecc71;
        margin-left: 1rem;
      }
    }
    .body {
      margin: 1.5rem;
      margin-top: 0;
      color: $grey;
    }
  }
}
